.support {
    margin-bottom: 8rem;

    .title {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: #1D1D1F;
    }

    .content {
        background: #F5F6F7;
        border-radius: 14px;
        padding: 3rem 3.6rem;

        p {

            &:first-child {
                font-size: 2.2rem;
                margin-bottom: 1.6rem;
                line-height: 2.3rem;
                color: #8993a8;
                font-weight: medium;
            }

            color: #7F8A96;
            margin-bottom: 1.6rem;
            font-size: 1.4rem;

            a {
                color: #008BF4;
            }
        }

        .contact-link {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            color: #77A841;
            gap: 1rem;
        }
    }
}