.products {
    margin-bottom: 8rem;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/410/867/750/vector-forest-sunset-forest-sunset-forest-wallpaper-thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;

    h2 {
        font-size: 3rem;
        margin-bottom: 4rem;
        color: #1D1D1F;
    }

    p {
        font-size: 2.4rem;
        color: #818181;
        color: red;
        text-align: center;
    }
}