.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-b-16 {
    margin-bottom: 16px !important;
}

.f18 {
    font-size: 18px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.f16 {
    font-size: 16px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}